#admintitle {
    width: auto;
    height: auto;
    padding: 8px;
    font-size: 5vh;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    text-decoration: underline double green;
    user-select: none;
    color: green;
    border-left: solid 30px green;
}
#content {
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    gap: 0;
}
@media only screen and (min-width: 480px) {
    #content {
        grid-template-columns: 50% 50%;
    }
}
@media only screen and (min-width: 600px) {
    #content {
        grid-template-columns: 33% 34% 33%;
    }
}
@media only screen and (min-width: 768px) {
    #content {
        grid-template-columns: 25% 25% 25% 25%;
    }
}
div a {
    text-align: center;
    text-decoration: none;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.5s ease;
    color: green;
}
div a:hover {
    box-shadow: 0 0 10px green;
}
div a img {
    width: 64px;
    height: 64px;
}
div a div {
    font-size: 120%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}