#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
#signindlg {
    position: absolute;
    z-index: 1;
    width: 320px;
    height: 190px;
    margin: 0;
    top: calc(48vh - 100px);
    left: calc(48vw - 166px);
    border-radius: 16px;
    padding: 10px;
    box-shadow: 0 0 14px white;
    background-color: rgba(200, 240, 255, 0.4);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
#dlgtitle {
    font-size: 160%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 0;
    width: 100%;
    text-align: center;
    user-select: none;
    text-shadow: 0 0 4px black;
}
#taccount {
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    width: calc(100% - 22px);
    color: white;
    text-shadow: 0 0 4px black;
    background-color: rgba(0, 0, 0, 0.4);
    border: solid 1px white;
    border-radius: 4px;
    user-select: none;
}
#tpass {
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    padding-left: 110px;
    width: calc(100% - 122px);
    color: white;
    text-shadow: 0 0 4px black;
    background-color: rgba(0, 0, 0, 0.4);
    border: solid 1px white;
    border-radius: 4px;
    outline: none;
    transition: 0.5s ease;
}
#tpass::placeholder {
    color: white;
}
#tpass:hover {
    box-shadow: 0 0 10px white;
}
#lpass {
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 8px;
    margin-top: -47px;
    color: white;
    text-shadow: 0 0 4px black;
}
#btlogin {
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 18px;
    margin-left: 200px;
    padding: 5px;
    width: 120px;
    cursor: pointer;
    border-radius: 8px;
    border: solid 1px white;
    color: white;
    text-shadow: 0 0 4px black;
    background-color: rgba(200, 240, 255, 0.4);
    transition: 0.5s ease;
}
#btlogin:hover {
    box-shadow: 0 0 10px white;
}